body{
  margin : 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #464646;
}
h1{
  margin: 50px 30% 50px 30%;
  color : white;
  font-size: 45px;
  
}
form{
  margin: 50px 20% 50px 20%;
  background-color: #f7f7f7;
  border:5px solid #5aa1e8;
  border-radius: 14px;
  height: 500px;
  width: 60%;
  display: grid;
  grid-template-rows: 3fr 2fr;
}
.formulaire{
  display: flex;
  width: 80%;
  margin : 0 auto 0 auto
}
.formulaire>input , .devise{
  height: 50px;
  width: 300px;
  text-align: center;
  margin :auto auto auto auto;
  font-size: 24px;
  border: 2px solid #5aa1e8;
  box-shadow: 2px 2px 2px #4e79a5 ;
  background-color: #4e79a5;
  color: white;
  transition : 0.4s;
}
.devise{
  width: 100px;
}

.operation{
  font-size: 60px;
  margin :auto auto auto auto;
}
.container_btn{
  display: flex;
  justify-content: space-evenly;
}
.btn_calculer{
  padding: 20px 50px 20px 50px;
  margin :auto auto auto auto;
  background-color: #4e79a5;
  border: none;
  border-radius: 3px;
  color : white;
  font-size: 40px;
  box-shadow: 5px 5px 2px #253749 ;
  transition: 0.4s;
  cursor: pointer;
}
.formulaire>input:hover , .devise:hover , .btn_calculer:hover{
  box-shadow: none;
  background-color: #33485e;
}
